<div class="container p-5">
<style>
table, th, td {
    text-align: left;
  padding: 8px;

  border:1px solid black; 
}


th {
  background-color: rgba(150, 212, 212, 0.4);
}
</style>
<h1>Students Table</h1>
<table style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% @authors.students.each do |author| %>
            <tr>
                <td><%= author.f_name%></td>
                <td><%= author.l_name%></td>
                <td><%= author.email%></td>
                <td><%= author.type%></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>
<h1>Teachers Table</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% @authors.teachers.each do |author| %>
            <tr>
                <td><%= author.f_name%></td>
                <td><%= author.l_name%></td>
                <td><%= author.email%></td>
                <td><%= author.type%></td>
            </tr>
        <% end %>
    </tbody>
</table>

</div>
